
SECRET_KEY = 'SUP3RS3CR34'


DEPLOYMENTTYPE="PREPROD"

DEBUG=True

DATABASE_URL=postgres://<user>:<pwd>@localhost:<port>/<dbname>

TEST_DB_NAME=TEST_DB_NAME

REDIS_URL = redis://localhost:7777

NOTIF_FCM_SERVER_KEY=NOTIF_FCM_SERVER_KEY
NOTIF_MOBILE_FCM_SERVER_KEY=NOTIF_MOBILE_FCM_SERVER_KEY
MSG91_AUTH_KEY=MSG91_AUTH_KEY
SENDGRID_API_KEY=SENDGRID_API_KEY